@import url(./vendor/normalize.css); 
@import url(./vendor/fonts.css); 

* {
  box-sizing: border-box;
}

.page {
  background-color: #0b1015;
  font-family: 'MuseoSansCyrc', Arial, sans-serif;
}

.background {
  height: 660px;
  background: url('./images/background.png') no-repeat top center fixed;
  position: relative;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.header {
  background-color: rgba(21, 10, 1, .2);
  border-bottom: 1px solid rgb(152, 147, 147) ;
}

.header-content {
  max-width: 1170px;
  position: relative;
  margin: 0 auto;
}

@media screen and (max-width: 1199px) {
  .header-content {
    padding: 0 30px;
    margin: 0;
  }
}

@media screen and (max-width: 374px) {
  .header-content {
    padding-left: 20px;
  }
}

.nav-desktop {
  float: left;
  position: absolute;
  right: 0;
  top: 39px;
}

@media screen and (max-width: 1199px) { 
  .nav-desktop {
    top: 30px;
    right: 30px;
  }
}

@media screen and (max-width: 980px) { 
  .nav-desktop {
    top: 15px;
  }
}

@media screen and (max-width: 991px) { 
  .nav-desktop {
    display: none;
  }
}

.nav {
  display: none;
}

@media screen and (max-width: 991px) { 
  .nav {
    display: block;
    position: absolute;
    right: 18px;
    top: 9px;
  }
}

@media screen and (max-width: 374px) { 
  .nav {
    right: 10px;
  }
}

.nav-mobile {
  display: none;
}

.nav-mobile_open {
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
  width: 198px;
  min-height: 148px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 4;
  border-radius: 20px;
  padding: 20px 10px 10px;
}

.nav-mobile_open .menu-link:hover { 
  border-bottom: none;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hamRotate.active {
  transform: rotate(45deg);
}

.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#a7a4a4;
  stroke-width:5.5;
  stroke-linecap:round;
}

.ham .top {
  stroke-dasharray: 40 139;
}

.ham .bottom {
  stroke-dasharray: 40 180;
}

.ham.active .top {
  stroke-dashoffset: -98px;
}

.ham.active .bottom {
  stroke-dashoffset: -138px;
}

.menu {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.list-item {
  float: left;
  margin-right: 40px;
}

@media screen and (max-width: 1199px) { 
  .list-item {
    margin-right: 25px;
  }
}

@media screen and (max-width: 991px) { 
  .list-item {
    float: right;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.list-item:last-of-type {
  margin-right: 0;
}

.menu-link {
  font-size: 16px;
  font-weight: 300;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: opacity 0.4s ease-in-out, border 0.4s ease-in-out; 
  padding: 10px 0;
}

.menu-link:hover { 
  opacity: 0.6; 
  border-bottom: 1px solid rgb(61, 61, 61);
} 

@media screen and (max-width: 1199px) { 
  .menu-link {
    display: block;
    font-size: 14px;
    text-align: center;
  }
}

@media screen and (max-width: 991px) { 
  .menu-link {
    padding: 0;
  }
}

.logo {
  float: left;
}

@media screen and (max-width: 991px) { 
  .logo {
    width: 200px;
    height: 70px;
  }
}

.main {
  position: relative;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 0 0 25px;
}

@media screen and (max-width: 1289px) { 
  .main {
    padding: 0 30px;
  }
}

.main-title {
  float: left;
  margin-top: 108px;
}

@media screen and (max-width: 991px) { 
  .main-title {
    margin-top: 20px;
  }
}

@media screen and (max-width: 743px) { 
  .main-title {
    margin-top: 30px;
  }
}

.main-button {
  display: block;
  font-size: 14px;
  width: 182px;
  height: 38px;
  text-align: center;
  color: rgb(255, 255, 255);
  background: url('./images/border.png') no-repeat center center;
  text-decoration: none;
  transition: opacity 0.4s ease-in-out;
  z-index: 3;
  position: relative;
  padding-top: 10px;
}

@media screen and (max-width: 743px) { 
  .main-button {
    opacity: 0.8;
  }
}

.main-button::after {
  content: '';
  height: 58px;
  width: 208%;
  position: absolute;
  top: 18px;
  left: 179px;
  background-image: url('./images/line.png');
  background-size: contain;
  z-index: 4;
}

.main-button:hover { 
  opacity: 0.6; 
}

@media screen and (max-width: 1180px) { 
  .main-button::after {
    width: 32vw;
  }
}

@media screen and (max-width: 1138px) { 
  .main-button::after {
    display: none;
  }
}

.title {
  font-size: 25px;
  font-weight: 300;
  width: 426px;
  color: transparent;
  background-image: linear-gradient(to right, #ffffff, #ff460d);
  background-clip: text;
  position: relative;
  margin: 0 0 87px;
  -webkit-background-clip: text;
}

@media screen and (max-width: 991px) { 
  .title {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 743px) { 
  .title {
    width: 355px;
  }
}

@media screen and (max-width: 413px) { 
  .title {
    width: 280px;
    font-size: 20px;
  }
}

.title-span {
  display: block;
  font-size: 58px;
  font-weight: 700;
  line-height: 0.9;
  text-transform: uppercase;
  margin-bottom: 4px;
}

@media screen and (max-width: 743px) { 
  .title-span {
    font-size: 48px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 413px) { 
  .title-span {
    font-size: 36px;
  }
}

.planet {
  width: 384px;
  height: 384px;
  position: absolute;
  top: 50%;
  left: 50vw;
  margin-left: calc(-384px / 2);
  margin-top: calc(-384px / 2);
}

@media screen and (max-width: 1199px) { 
  .planet { 
    display: none;
  } 
} 

.info {
  float: left;
  width: 380px;
  position: absolute;
  top: 40px;
  right: -3px;
}

@media screen and (max-width: 1280px) { 
  .info {
    right: 30px;
  }
}

@media screen and (max-width: 991px) { 
  .info {
    width: 319px;
    top: 60px;
  }
}

@media screen and (max-width: 820px) { 
  .info {
    top: 190px;
    right: calc(50% - 158px);
  }
}

@media screen and (max-width: 743px) { 
  .info {
    width: 259px;
    top: 210px;
    left: calc(50% - 130px);
  }
}  

.info-gallery {
  display: block;
  width: 379px;
  padding-left: 0;
  margin: 0;
}

@media screen and (max-width: 991px) { 
  .info-gallery {
    width: 319px;
  }
}

@media screen and (max-width: 743px) { 
  .info-gallery {
    width: 259px;
  }
}

.card {
  float: left;
  width: 184px;
  height: 182px;
  list-style: none;
  -webkit-box-shadow: -9px -18px 27px -4px rgba(255, 255, 255, 0.1) inset;
  -moz-box-shadow: -9px -18px 27px -4px rgba(255, 255, 255, 0.1) inset;
  box-shadow: -9px -18px 27px -4px rgba(158, 155, 155, 0.1) inset;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.4s ease-in-out, border 0.4s ease-in-out;
  margin-right: 11px;
  margin-bottom: 11px;
  padding: 33px 0;
}

@media screen and (max-width: 991px) { 
  .card {
    width: 154px;
    height: 152px;
    padding: 20px 0;
  }
}

@media screen and (max-width: 743px) { 
  .card {
    width: 124px;
    height: 122px;
    padding: 15px 0;
  }
}

.card:hover { 
  opacity: 1;
  border-bottom: 1px solid rgb(61, 61, 61);
  border-right: 1px solid rgb(61, 61, 61);
  z-index: 4;
}

.card:nth-of-type(2n) {
  -webkit-box-shadow: 9px -18px 27px -4px rgba(255, 255, 255, 0.1) inset;
  -moz-box-shadow: 9px -18px 27px -4px rgba(255, 255, 255, 0.1) inset;
  box-shadow: 9px -18px 27px -4px rgba(158, 155, 155, 0.1) inset;
  margin-right: 0;
}

.card:nth-of-type(2n):hover {
  border-left: 1px solid rgb(61, 61, 61);
  border-right: none;
}

.card:nth-of-type(3n) {
  -webkit-box-shadow: -9px 18px 27px -4px rgba(255, 255, 255, 0.1) inset;
  -moz-box-shadow: -9px 18px 27px -4px rgba(255, 255, 255, 0.1) inset;
  box-shadow: -9px 18px 27px -4px rgba(158, 155, 155, 0.1) inset;
  margin-bottom: 0;
}

.card:nth-of-type(3n):hover {
  border-bottom: none;
  border-top: 1px solid rgb(61, 61, 61);
}

.card:nth-of-type(4n) {
  -webkit-box-shadow: 9px 18px 27px -4px rgba(255, 255, 255, 0.1) inset;
  -moz-box-shadow: 9px 18px 27px -4px rgba(255, 255, 255, 0.1) inset;
  box-shadow: 9px 18px 27px -4px rgba(158, 155, 155, 0.1) inset;
  margin-right: 0;
  margin-bottom: 0;
}

.card:nth-of-type(4n):hover {
  border-bottom: none;
  border-top: 1px solid rgb(61, 61, 61);
}

.card-text {
  float: right;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 100;
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 743px) { 
  .card-text {
    font-size: 14px;
  }
}

.card-main {
  float: right;
  font-size: 60px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
  line-height: 0.9;
  margin: 16px 0 2px;
}

@media screen and (max-width: 991px) { 
  .card-main {
    font-size: 40px;
    margin: 10px 0 11px;
  }
}

@media screen and (max-width: 743px) { 
  .card-main {
    font-size: 30px;
    margin: 10px 0 11px;
  }
}

.card-main-span {
  font-size: 20px;
}